<div class="container">
  <div class="row">
    <div class="col s12 m6 offset-m3">
      <form action="/users/login" method="POST" class="card">
        <div class="card-content">
          <div class="row">
            <div class="input-field col s12">
              <input name="email" type="email" class="validate" required>
              <label for="email">Email</label>
            </div>  
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input name="password" type="password" class="validate" required>
              <label for="password">Password</label>
            </div>  
          </div>
        </div>
        <div class="card-action center-align">
          <button type="submit" class="waves-effect waves-light btn">Log in</button>
        </div>
      </form>
    </div>
  </div>
</div>